html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #a6c4e9;
}

header h1 {
    padding: 20px;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

pagemenu {
    display: flex;
    align-items: center;
    width: 60%;
}

pagemenu ul {
    display: flex;
    justify-content: end;
    margin: 0;
    font-size: 1.3em;
    width: 100%;
}
pagemenu li {
    margin: 0 60px;
    float: left;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(206, 13, 13);
}

.content{
    display: flex;
    flex: 1;
}

.side {
    display: flex;
}

.side.left {
    flex-direction: column;
    width: 75%;
}

.part.left ol {
    text-align: left;
    margin-left: auto;
}

.side.left.top {
    flex-direction: row;
    width: 100%;
    background-color: #ffebdb;
    flex: 1;
}

.side.right {
    display: flex;
    max-height: content-box;
    flex-direction: column;
    width: 25%;
    background-color: #ffebdb;
    text-align: right;
    padding: 20px;
    justify-content: center;
}

.side.right ul {
    direction: rtl;
}

.part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.part.left {
    width: calc(100% / 3);
    padding: 20px;
}

.part.right {
    width: calc(100% / 3 * 2);
    background-color: white;
}

.part.right.top {
    width: 100%;
    align-items: center;
    justify-items: center;
    flex: 1;
}

.part.right.down {
    width: 100%;
    background-color: #ebf5d9;
    margin-top: auto;
}

.part.right.down img {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #a6c4e9;
    margin-top: auto;
}

footer h1 {
    width: 40%;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

footer p {
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

.canvas {
    display: flex;
    flex-direction: column;
    height: 100%;
}
